<div class="table-responsive" *ngIf="reportingMonth !== undefined">
  <h5>Display Table Summary for {{ reportingMonth?.format('DD/MM/YYYY') }}</h5>

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Service Outlet</th>
        <th>Category</th>
        <th>NBV</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of displayDataArray">
        <td>{{ dt.serviceOutletCode }}</td>
        <td>{{ dt.assetCategory }}</td>
        <td>{{ dt.netBookValue }}</td>
      </tr>
    </tbody>
  </table>
</div>
