<div class="table-responsive" *ngIf="reportingMonth !== undefined">
  <h5>Display Table Summary for {{ reportingMonth?.format('DD/MM/YYYY') }}</h5>

  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>Currency</th>
        <th>Loan Balance</th>
        <th>Accounts</th>
        <th>Deposit Balance</th>
        <th>Deposit Accounts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dt of displayDataArray">
        <td>{{ dt.currencyCode }}</td>
        <td>{{ dt.volume }}</td>
        <td>{{ dt.numberOfAccounts }}</td>
        <td>{{ dt.depositVolume }}</td>
        <td>{{ dt.numberOfDepositAccounts }}</td>
      </tr>
    </tbody>
  </table>
</div>
