<ul>
  <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
      <span>
        <fa-icon icon="book"></fa-icon>
        <span>Tables</span>
      </span>
    </a>
    <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
      <li>
        <a class="dropdown-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="navigateNBVDatatable()">
          <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
          <span>NetBookValue</span>
        </a>
      </li>
      <li>
        <a
          class="dropdown-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="navigateDepreciationDatatable()"
        >
          <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
          <span>Depreciation</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
